@model IEnumerable<Models.Models.Status>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h4>Status</h4>

<p>
    <a asp-action="Create"> <i class="bi bi-plus-circle"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
